<nav class="navbar">
    <div class="navbar-content">
        <a href="/" class="logo">
            <img src="assets/images/logo-car.png" alt="EcoRide" class="w-8 h-8">
            <span>ECO<span style="color: #2C3E20;">RIDE</span></span>
        </a>
        
        <ul class="nav-links">
            <li><a href="/" class="nav-link">Accueil</a></li>
            <li><a href="/covoiturages" class="nav-link">Covoiturages</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
            <li><a href="/login" class="btn-connexion">Connexion</a></li>
        </ul>
    </div>
</nav>